<html>
<head>
    <title>RiskAssess | Terms & Conditions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>
<body>
    <form id="form1">
        <div id="timetable"><br/>
        <div style="text-align:center;"><h3>Terms & Conditions</h3></div><br />
        <div class="container themed-container">
            <p>This document – the Terms & Conditions – (or "T&C", “Agreement”) is an agreement between you (the “User”, “Doctor”, “Health Care Provider”, “Patient”, “End-User”) and Health Pvt. Ltd. ("Health", “Company”). It contains conditions you agree to follow when using our mobile and web applications as well as our websites, including when you ask questions and when you view or input content on or into the Apps. The Health Privacy Policy Statement is officially part of these T&C, and can be accessed here.

                <br/><br/>When you register on Health Assessment you verify that you have read and agree with the Terms & Conditions as well as the Privacy Policy.
                
                <br/>These T&C and the Privacy Policy together constitute a legal agreement (“Agreement”) between you – the “user” – and Health in connection with your visit to the Website and your use of the Health Assessment including Health Assessment, Health Assessment For Doctors, and FirstStep.
                
                <br/><br/><br/>
                <h2>WE MAY UPDATE THIS AGREEMENT</h2>
                These Terms & Conditions may change. Because your use of Health Apps and Website means you agree to these T&C’s, if we revise and update these T&C’s, your continued use of Health Apps and Website will mean that you accept those changes. You choose whether or not you use Health Apps and Website. If you do not agree to all of these Terms & Conditions, please do not use Health Apps and Website.
                
                <br/><br/><br/>
                <h2>APPLICABILITY OF TERMS</h2>
                The Terms and Conditions Agreement applies to you if you are:
                
                <br/>1. A medical practitioner or health care provider (whether an individual professional or an organization) or similar institution wishing to avail the services provided by Health Apps and website, authorised associates of such practitioners or institutions (“Health Care Provider”, “HCP”, “you” or “User”); or
                
                <br/>2. A patient, their guardian, representatives or affiliates, consulting with Health Care Provider(s) (HCP) through the Website or App (“Patient”, “End-User”, “you” or “User”); or
                
                <br/>3. Otherwise a user of the Website or Apps (“you” or “User”).
                
                <br/><br/>This Agreement applies to all services made available by Health on their Website, and their mobile and web Apps.
                
                <br/><br/><br/>
                <h2>YOUR HEALTH, YOUR CHOICES:</h2>
                We are dedicated to enabling and empowering you to make smart choices for your health and well-being. Our mission is to provide you with a platform that empowers you to seek personalised and pertinent health advice, and support your doctor-patient relationship by making it more accessible, affordable and intelligent.
                
                <br/><br/><br/>
                <h2>HEALTH PRODUCTS AND SERVICES:</h2>
                Health Assessment For Doctors: Health Assessment offers Health Care Providers (“HCP”) a platform to set up and operate their online/virtual ‘clinics’ and offer their services to their patients. The platform includes features that allow doctors to maintain an online presence on the App, made available and accessible to other Users, answer patient queries, look up their patients medical profile and history during a consultation, and conduct paid consultations with their patients.
                
                <br/><br/>Health Assessment: Health Assessment (for Patients, “Users”) allows Users to create and maintain an online account with up-to-date medical profiles, create and maintain a Care Team of their doctors and/or HCPs, seek health advice and request consultations with their doctors and/or HCPs for a fee.
                
                <br/><br/>FirstStep: FirstStep is a paediatric app for parents to record, maintain and track the health and well-being of their child using features like personalised immunisation schedules, growth charts and developmental milestones covering a baby’s development in four major areas – cognitive, social & emotional, communication, and physical development. Our services may change from time to time, at the sole discretion of Health. The T&C will apply to your visit to and your use of the Website, and any & all Health Apps, to avail the services provided, and to all information provided by you on these platforms.</p>
        </div>
        </div>
    </form>
</body>
</html>
